Repository a11yphant/a11yphant, pull requests merged in 2023-08, with the labels that each got.

#109 Bugfix/Wrong screen reader announcement in quiz levels
  services/site/src/components/challenge/level/QuizLevel.tsx
  services/site/src/components/evaluation/CompleteEvaluationButton.tsx
Labels: Bug, Site

#110 Feature/ Add Awards
  services/site/src/pages/about.tsx
Labels: Site, Content

#112 Exchange link text for emails with email address
  services/site/src/pages/about.tsx
  services/site/src/pages/press-kit.tsx
Labels: Bug, Site

#116 Fature/Sponsor Us
  FUNDING.yml
  README.md
  services/site/src/components/Footer.tsx
Labels: Site

#119 feat(api): add env flag for challenge importer
  .env.example
  docker-compose.tests.yml
  services/api/src/config/api.config.ts
  services/api/src/importer/import-challenges.console.ts
Labels: API

#118 Add element-has-css-property-value check
  challenges/rule-element-has-css-property-value.yml
  services/api/src/submission/checks/base-checks/axe.check.ts
  services/api/src/submission/checks/base-checks/document-language-is-specified.check.ts
  services/api/src/submission/checks/base-checks/element-contains-text.check.ts
  services/api/src/submission/checks/base-checks/element-exists.check.ts
  services/api/src/submission/checks/base-checks/element-has-css-property-value.check.ts
  services/api/src/submission/checks/base-checks/element-not-contains-text.check.ts
  services/api/src/submission/checks/base-checks/element-not-exists.check.ts
  services/api/src/submission/checks/base-checks/index.ts
  services/api/src/submission/checks/base-checks/jsdom-check.ts
  services/api/src/submission/checks/check-to-class-map.ts
  services/api/src/submission/submission.module.ts
  services/api/tests/unit/submission/checks/element-has-css-property-value.check.spec.ts
Labels: API

#131 Increase Editor font-size to 16px
  services/site/src/components/challenge/level/CodeLevel.tsx
Labels: Bug, Site

#117 Feature/Quiz Only Challenge (Mobile Friendly)
  services/api/src/challenge/challenge.resolver.ts
  services/api/src/challenge/level.service.ts
  services/api/src/challenge/models/challenge.model.ts
  services/api/tests/unit/challenge/challenge.resolver.spec.ts
  services/api/tests/unit/challenge/level.service.spec.ts
  services/site/src/components/homepage/Card.tsx
  services/site/src/components/homepage/ChallengeList.tsx
  services/site/src/graphql/queries/challenges.graphql
  services/site/tests/components/homepage/Card.spec.tsx
  services/site/tests/components/homepage/ChallengeList.spec.tsx
Labels: Site

#130 Feature/mobile friendly design changes
  services/site/src/components/Footer.tsx
  services/site/src/components/Navigation.tsx
  services/site/src/components/breadcrumbs/Breadcrumbs.tsx
  services/site/src/components/challenge/Preview.tsx
  services/site/src/components/challenge/Sidebar.tsx
  services/site/src/components/challenge/editor/ModeCommandHint.tsx
  services/site/src/components/challenge/editor/WrappedEditor.tsx
  services/site/src/components/challenge/level/CodeLevel.tsx
  services/site/src/components/challenge/level/QuizLevel.tsx
  services/site/src/components/challenge/quiz/SingleAnswer.tsx
  services/site/src/components/challenge/sidebar/HintList.tsx
  services/site/src/components/common/SmallScreenNotification.tsx
  services/site/src/components/evaluation/CollapsableSection.tsx
  services/site/src/components/evaluation/CompleteEvaluationButton.tsx
  services/site/src/components/evaluation/EvaluationBody.tsx
  services/site/src/components/evaluation/EvaluationHeader.tsx
  services/site/src/components/evaluation/LoadingScreen.tsx
  services/site/src/components/homepage/Card.tsx
  services/site/src/components/homepage/ChallengeHeader.tsx
  services/site/src/components/homepage/ChallengeList.tsx
  services/site/src/components/homepage/Hero.tsx
  services/site/src/components/homepage/Legend.tsx
  services/site/src/components/homepage/challengeModal/ChallengeModal.tsx
  services/site/src/components/homepage/challengeModal/ChallengeModalLevelCard.tsx
  services/site/src/components/icons/Heart.tsx
  services/site/src/components/layouts/FullScreenLayout.tsx
  services/site/src/components/modal/ConfirmationModal.tsx
  services/site/src/components/modal/Modal.tsx
  services/site/src/pages/challenge/[challengeSlug]/level/[nthLevel].tsx
  services/site/src/pages/challenge/[challengeSlug]/level/[nthLevel]/evaluation/[submissionId].tsx
  services/site/src/pages/index.tsx
  services/site/src/pages/legal-notice.tsx
  services/site/src/pages/privacy-policy.tsx
  services/site/tests/components/common/SmallScreenNotification.spec.tsx
  services/site/tests/components/homepage/challengeModal/ChallengeModal.spec.tsx
  services/site/tests/components/homepage/challengeModal/ChallengeModalLevelCard.spec.tsx
  services/site/tests/components/icons/Icons.spec.tsx
Labels: Site

#137 Add ColorContrastGreaterThanOrEqual check
  challenges/rule-color-contrast-greater-than-or-equal.yml
  services/api/package-lock.json
  services/api/package.json
  services/api/src/submission/checks/base-checks/color-contrast-greater-than-or-equal.check.ts
  services/api/src/submission/checks/base-checks/index.ts
  services/api/src/submission/checks/check-to-class-map.ts
  services/api/src/submission/submission.module.ts
  services/api/src/types/colorcontrastchecker.d.ts
  services/api/tests/unit/submission/checks/color-contrast-greater-than-or-equal.check.spec.ts
Labels: API

#143 fix: link color on home page
  services/site/src/pages/index.tsx
Labels: Bug, Site

#144 Feature/ Level complete number
  services/site/src/components/homepage/Card.tsx
  services/site/src/components/homepage/ChallengeList.tsx
  services/site/tests/components/homepage/Card.spec.tsx
Labels: Site

#141 Fix Styling of Links in Instructions
  services/site/tailwind.config.js
Labels: Bug, Site
